@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);

body {font-family: "Source Sans Pro";}
body, textarea {
    background-color: #1e1f22;
    color: #bfbfbf;

}
.weatherContainer {
    position: fixed;

    height: 581px;
}
.noshow{
    display:none;
}
.futureForecast {
    display: flex;
    justify-content: flex-start;
}

#div { float: left; }
#chart_pressure, #rawData {clear: left;}

#rawData { font-size: 0.75em; color: #7f7f7f; margin-bottom: 100px; }
#rawData ul {
  column-count: 3;
  column-gap: 20px;
  list-style-position: inside;
}
#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #3e3f52;
  text-align: center;
}
#footer a { color: #66ccFF; text-decoration: none; }
#footer #repo { float: left; }
#footer #codeDate { float: right; }

.weatherTemp span.weather_minmax {
    top: 3px;
}

.weather_minmax, .top, .bottom {
    padding: 0 3px;
}

.weather_minmax {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    position: relative;
    top: 0px;
    font-weight: bold;
}

.bottom {
    border-top: 1px solid #fff;
    display: block;
}

div.forecastContainer {
    width: 172px;
    padding: 0px 10px;
    margin: 0px;
    border: 1px solid #ececec;
    display: inline-block;
}

.weather_temp {
    font-size: 45px;
    font-weight: bold;
    color: aquamarine;
    display: inline;
    top: -3px;
    position: relative;
}

.forecastDateContainer {
    font-size: 11px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.forecastDateContainer span:last-child {
    font-size: 11px;
    color: #989797;
}
.forecastDateContainer span:first-child {
    font-size: 13px;
    color: bisque;
    display: block;
}

.weather_main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: -8px -15px 1px -15px;
    line-height: 22px;
    font-size: 18px;
    font-family: unset;
}

.weather_main b {
    display: block;
}

.forecastImage {
    position: relative;

}

.weather_temp_container {
    display: flex;
}

.forecastDay {
    display: flex;
    flex-direction: column;
}

.weatherTemp {
    font-size: 45px;
    font-weight: bold;
    color: #ff9488;
}

.weatherCurrent {
    text-align: center;
    padding: 0 0 18px;
}

.weatherUpdateDate {
    font-size: 13px;
    color: #b9b9b9;
    padding: 10px 0 0 0;
    margin: 0 0 -10px;
}

img.bar {
    visibility: hidden;
    display: none;
}

.weatherTemp .weather_minmax {
    top: -3px;
}

.weatherBaromoter {
    position: absolute;
    top: 17px;
    right: 25px;
}

.mbPressure, .dialFont {
    font-size: 21px;
    color: #ffffff;
    position: relative;
    top: -68px;
    font-weight: bold;
    left: -1px;
    text-shadow: 1px 1px 2px #0213fb;
}

.currentTempImage {
    padding: 0 4px;
    margin: -15px 0px;
    position: relative;
    top: 3px;
}

.currentTempDesc {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 5px 0;
    font-size: 22px;
    font-family: inherit;
    color: #ffffff;
    font-weight: bold;
    text-shadow: ;
}

span.degSmall {
    font-size: 25px;
    position: relative;
    top: -12px;
}

b.degSmaller {
    font-size: 9px;
    position: relative;
    top: -5px;
    font-family: inherit;
    left: 1px;
}

i.wi.wi-sunrise {
    color: #ffe51f;
    position: relative;
    top: 2px;
    left: -2px;
}
i.wi.wi-sunset {
    color: #ffa129;
    position: relative;
    top: 2px;
    left: -2px;
    padding: 0 0 0 16px;
}
.weatherSunPhase em {
    color: #ffe51f;
    font-size: 12px;
}
.weatherSunPhase em:last-child {
    color: #ffa129;
}

.weatherSunPhase em b {
    color: #cfd0d6;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 0px;
}

div#moonPhase {
    position: relative;
    top: -57px;
    left: 32px;
}

div#moonPhaseContainer {
    font-size: 9px;
    line-height: 8px;
    position: relative;
    top: 30px;
    color: wheat;
    left: -5px;
}
#moonPhaseContainer em{
  display:block;
}

.windGust {
    position: absolute;
    margin: -48px 0 0 0;
    font-size: 12px;
    line-height: 12px;
    color: wheat;
}

div.windGust div:nth-child(2) {
    position: relative;
    top: -42px;
    left: 7px;
}
div.windGust div:nth-child(3) {
    margin: 40px -15px -40px 0;
}

canvas#windGustCanvas {
    margin: 0 0 -32px 0;
}

.windGust .dialFont span {
    font-size: 8px;
}

div#rainGuageContainer {
    font-size: 1.4em;
    margin: 20px 0 0 -20px;
    line-height: 1.2em !important;
    text-transform: uppercase;
    position: absolute;
    width: 181px;
    top: 120px;
    color: #e7de93;
}

.highNormRecrd {
    position: relative;
    top: -44px;
    right: -60px;
}

.almanacRecordHigh, .almanacRecordLow {
    background: #232427;
    width: 135px;
    padding: 5px;
    margin: -7px 6px;
    height: 135px;
    box-shadow: 0px 0px 2px #fffbfb;
}

.almanacRecordContainer {
    display: flex;
    justify-content: center;
    margin: 23px 0 0 640px;
}
.highYear,.lowYear {
    margin: -47px auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.highYear{
    color: cornflowerblue;
}
.highYear b {
    color: #ff0000;
}
.lowYear b {
    color: #ff0000;
}
.lowYear {
    color: #80d840 !important;
}
div.almanacRecordLow > div:nth-child(1) {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: -5px 0 3px;
    color: #d84040;
}
div.almanacRecordHigh > div:nth-child(1) {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: -5px 0 3px;
    color: #82d6f1;
}

.weatherMinMaxLabelContainer {
    margin: 25px 33px;
}

.relative_humidity.dialFont {
    top: -20px;
}

.uv_index_label.dialFont {
    top: -103px;
    left: 4px;
}

div.satteliteCont > div > img {
    height: 135px;
    margin: 20px 10px;
}

.satteliteCont {
    display: flex;
    overflow: hidden;
    height: 170px;
    position: absolute;
}

.moonAge b {
    color: #89a8e5;
}
.moonAge {
    display: inline;
    font-size: 1.7em;
    position: relative;
    left: 10px;
    top: 4px;
}





/*! PYRAMID */
 .pyramid[_ngcontent-c18]{

}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]{
    border-bottom:14px solid #D7D7D7;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    height:0;
    margin:3px auto;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(1){
    width:2px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(2){
    width:20px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(3){
    width:39px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(4){
    width:59px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(5){
    width:77px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(6){
    width:106px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(7){
    width:124px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(8){
    width:142px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(9){
    width:160px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(10){
    width:178px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(11){
    width:196px;
}
 .pyramid[_ngcontent-c18] .chunk[_ngcontent-c18]:nth-child(12){
    width:214px;
}
 .pyramid[_ngcontent-c18] .chunk.low[_ngcontent-c18]{
    border-bottom-color:#5B9F49;
}
 .pyramid[_ngcontent-c18] .chunk.moderate[_ngcontent-c18]{
    border-bottom-color:#FFB92F;
}
.pyramid[_ngcontent-c18] .chunk.hot[_ngcontent-c18]{
    border-bottom-color:red;
}
 *,:after,:before{
    box-sizing:inherit;
}

.uvIndex {
    position: absolute;
    margin: -42px 0px 0px 144px;
}
.uv_index_label.dialFont {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    font-size: 14px;
}
.uv_index_label span {
    font-size: 8px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}